.toDoList-body{
    max-width: 975px;
    margin: auto;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.toDo {
    
    background-color: Blue;
    border: solid;
    border-width: 1px;
    border-color: blue;
}

.doing{
    background-color: red;

}

.card {
    background-color: white;
    margin: 30px;
    padding: 30px;
}


.card-what {
    font-size: 24px;
    font-weight: 500;
}

.card-who {
    font-size: 18px;
}

.card:hover {
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1), 0 2px 12px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}